@import "at-break.scss";
.home-container {
  width: 100%;
  .main-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #bbb;
    .card {
      width: 325px;
      height: 425px;
      margin: 27px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background: #fff;
      box-sizing: border-box;
    }
  }

  & .main-layout {
   //max-width: 80rem;

    @include at-sm {
      padding: 0 1rem 0 1rem;
    }

    @include at-md {
      margin: 0 auto;
    }

    & .tabs-container {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }

    p {
      color: var(--brand);
    }
  }
}
